<div class="container col-12 fondo card ">
    <div class="card-header">
        <h1 class="center-mytext">
            Descripcion Modulos
        </h1>
        <hr>
    </div>
    <div class="row">

        <div class="col-md-6">
            <img [src]="descrip.image" [width]="size" class="img-fluid">

            <br>

        </div>
        <div class="card" style="width: 500px; height: 200;">
            <div class="card-body">
                <div class="form-group">
                    <button *ngIf="auth.estado" [routerLink]="['/lista']" class="btn btn-outline-secondary">Inicio</button>
                    <button *ngIf="!auth.estado" [routerLink]="['']" class="btn btn-outline-secondary">Inicio</button>
                    <button class="btn btn-outline-info" (click)="size = size+20">Zoom img</button>
                    <button class="btn btn-outline-primary">Alquilar</button>
                </div>
                <div class="col-md-6">
                    <h1>Nombre del Local: {{descrip.nombre}} </h1>
                    <h3>Precio: ${{descrip.precio}} </h3>
                    <h3>Descripcion: {{descrip.descripcion}} </h3>
                    <h3>tamaño: {{descrip.tamano}} </h3>
                    <h3 *ngIf="descrip.estado">Estado: Disponible</h3>
                </div>
            </div>
        </div>

    </div>