<div class="container col-12 fondo card">
    <div class="row">

        <div class="col-md-3" *ngFor="let dts of arreglo">
            <div class="card" style="width:200px;">
                <a [routerLink]="['/vistaTienda',dts.Key$]">
                    <img class="card-img-top" [src]="dts.imgLogo" alt="Card image cap" width="250px" height="200px">
                </a>
                <div class="card-body">
                    <a>
                        <button class="btn btn-success form-control" [routerLink]="['/vistaTienda',dts.Key$]">ver Tienda</button>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>