<div class="container">
    <div>
        <h1> Modulos </h1>
    </div>
    <div>
        <button class="btn btn-outline-success redondo " [routerLink]="['/modulo/agregar']">Nuevo Modulo</button>
    </div>
    <br>
    <div>
        <table class="redondo table table-responsive mat-elevation-z8">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Modulo</th>
                    <th scope="col">Estado</th>
                    <!-- <th scope="col" text="align-center">Descripcion</th> -->
                    <th scope="col">Opciones</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let data of moduloServices.arreglo">
                    <th scope="row">{{data.nombre}}</th>
                    <th scope="row">{{data.precio}} $</th>
                    <th scope="row">{{data.tamano}}</th>
                    <th scope="row">{{data.numerodemodulo}}</th>
                    <th scope="row">{{data.estado}}</th>
                    <!-- <th scope="row">{{data.descripcion}}</th> -->
                    <!-- <th scope="row">{{data.uid}}</th> -->
                    <th>
                        <div role="group">
                            <!-- <a class="btn btn-outline-primary" [routerLink]="[ '/modulo']">Editar</a> -->
                            <button class="redondo btn btn-outline-primary mx-sm-1" (click)="actualizar(data.uid)">Modificar</button>
                            <button class="redondo btn btn-outline-danger  mx-sm-1" (click)="delete(data.uid)">Borrar</button>
                            <button class="redondo btn btn-outline-warning  mx-sm-1" [routerLink]="[ '/descripcion/data.uid']">Ver</button>
                        </div>
                    </th>


                </tr>
            </tbody>
        </table>
    </div>
</div>