<ng-container>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Clientnomb">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let row"> {{row.Clientnomb}} </td>
        </ng-container>
        <ng-container matColumnDef="numeromodulo">
            <th mat-header-cell *matHeaderCellDef>Modulo</th>
            <td mat-cell *matCellDef="let row"> {{row.numeromodulo}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
        </ng-container>

        <ng-container matColumnDef="pago">
            <th mat-header-cell *matHeaderCellDef>Pago</th>
            <td mat-cell *matCellDef="let row"> {{row.pago}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
            <td mat-cell *matCellDef="let row"> {{row.fechaIni}} </td>
        </ng-container>

        <ng-container matColumnDef="fechafin">
            <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
            <td mat-cell *matCellDef="let row"> {{row.fechafin}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


    </table>
</ng-container>