<div class="container col-12 fondo card">
    <div class="row">

        <div class="col-md-4" *ngFor="let dts of datos">
            <div class="card" style="width: 300px;">
                <img class="card-img-top" [src]="dts.image" alt="Card image cap" width="350px" height="300px">
                <div class="card-body">
                    <a [routerLink]="['/descripcion',dts.uid]">
                        <p class="card-text">Local {{dts.nombre}} valor ${{dts.precio}}</p>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>