#advanced-search-form {
    background-color: #fff;
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

#advanced-search-form .form-control {
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

.fondo {
    /* background-size: cover;
    background: url('../../../assets/images/fondo.jpg');
    height: 100%; */
}

.center-mytext {
    text-align: center;
}

.hr {
    color: black;
}

.btn-img {
    background: url(../../../assets/images/send.png);
    border: 0;
    display: block;
    height: 32px;
    width: 32px;
}