<div class="container">
    <div class="container col-12 fondo card ">
        <div class="card-header">
            <h1 class="center-mytext">
                Agregar Modulos
            </h1>
            <hr>
        </div>

        <div class="card-body">


            <form #forma="ngForm" novalidate>
                <!-- primera fila -->
                <div class="form-group ">

                    <label>Nombre del modulo</label>
                    <input required type="text " placehoolder="Escriba el Nombre " name="nombre " [(ngModel)]="doc.nombre " class="form-control ">
                </div>
                <div class="form-group ">
                    <label>Tamaño de Modulo</label>
                    <input required type="text " placehoolder="metros X2 " name="tamano " [(ngModel)]="doc.tamano " class="form-control ">

                </div>
                <!-- primera fila -->

                <!-- segunada fila -->
                <div class="form-group row ">
                    <div class="col-sm-4 ">
                        <label>Numero de Modulo</label>
                        <input required type="number " placehoolder="eje; 002 " class="form-control " name="numerodemodulo " [(ngModel)]="doc.numerodemodulo ">
                    </div>

                    <div class="col-sm-4 ">
                        <label>Precio Modulo</label>
                        <input required type="number " placehoolder="Precio " class="form-control" name="precio " [(ngModel)]="doc.precio ">
                    </div>

                    <div class="form-check col">
                        <label class="form-check-label"> Estado</label>
                        <input required class="form-check-input" type="checkbox" name="estado" [(ngModel)]="doc.estado">

                    </div>

                </div>
                <!-- segunada fila -->
                <div class=" form-group ">
                    <label>Descripcion</label>
                    <textarea type="text " required placehoolder="Escriba el Nombre " class="form-control " name="descripcion " [(ngModel)]="doc.descripcion "></textarea>

                </div>


                <button [disabled]="!forma.valid" *ngIf="agregar " (click)="add() " class="btn btn-outline-primary mx-sm-1 "><a class=" material-icons ">done_all</a>Agregar</button>
                <button *ngIf="actualizar " (click)="update() " class="btn btn-outline-warning "><a class=" material-icons ">change_circle</a>Actualizar</button>
                <button *ngIf="agregar " (click)="clear() " class="btn btn-outline-danger "> <a class=" material-icons ">delete_sweep</a> Limpiar</button>

            </form>
        </div>
    </div>
</div>