<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <app-navbar></app-navbar>
        <app-header></app-header>
        <div class="pcoded-content pcoded-main-container">
            <div class="pcoded-inner-content">

                <!-- <app-modulo></app-modulo> -->
                <!-- call -->
                <router-outlet></router-outlet>
                <!-- call  -->
            </div>
        </div>
    </div>
</div>