/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.redondo {
    border-radius: 15px;
}

.check {
    margin: 0 12px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    -moz-appearance: none;
    position: relative;
    top: 28px;
    right: 10px;
}