.img {
    /* border: 2px solid grey;
    margin: 0;
    padding: 0; */
    border-radius: 50%;
    /* overflow: hidden; */
    width: 200px;
    height: 200px;
    position: relative;
    top: -170px;
    left: 9px;
}


/* .header {
    text-align: center;
    height: 300px;
    padding: 12px;
    background-image: url(../../../assets/images/fondo.jpg);
} */

.portada {
    height: 200px;
    width: auto;
}

.cont-center {
    width: 900px;
    height: 300px;
}